.year-span {
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(92, 90, 90, 0.5); /* Optional: Add background color */
    padding: 4px 8px; /* Optional: Add padding */
    border-radius: 4px; /* Optional: Add border radius */
    font-weight: 700;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  .img{
    z-index: 999 !important;
    height: 230px;
    margin: 5px;
    width: 230px !important;
    
  }
  .card-title{
    text-align: center;
    font: 20px "opensans-bold",sans-serif !important;
    font-weight: 700 !important;
    padding-bottom: 0;
    padding-top: 10px;
  }

.card-container{
  display: flex;
  justify-content: space-around;
  /* margin: 5px !important; */
  /* padding-bottom: 100px;
  align-self: center; */
}
.container {
  /* display: flex; */
  justify-self: center; /* Align content horizontally */
  align-self: center; /* Align content vertically */
  height: 100vh;
  flex-direction: column;
}


h2{
  text-align: center;
  padding: 10px;
  /* font-family: permanent marker; */
}

.indcards:hover{
  box-shadow: 0 0 20px rgba(253, 253, 253, 0.9);
    transition:all 0.2s ease-out;
    transform: scale(1.00000999);
}



/* --------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {
  .card-container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 30px;
  }
}